<!DOCTYPE html>
<html>
    <head>
        <title> Boaz kahlon CV_ Engineer Industrial & Management, GitHub  </title>
        <link rel="stylesheet" href="../static/CV_Page_CSS.css">
        <script src="../static/contactMe_JS.js">
        </script>

    </head>
    <body>

    {% if session.loggedin %}
    <h2> hello , {{session.get('username')}}</h2>
    {% else %}
    <h2> hello stranger</h2>
    {% endif%}

        <div class = "grid-container"> </div>
        <div class = "item1">


        <br><br>
        
            <h1 id="opening">  Boaz Kahlon C.V <br> BSc Industrial Engineer & Management </h1>



            <h2 id="text">I strive for excellence and accuracy, with high responsibility. Team player that motivated to integrate into new areas of interest.  </h2>
            <h3 id="pressContactMe"> For Contact & CV - click on the  mail icon  </h3>
                         <a href="assignment8.html"> assignment 8 </a> <br>
                         <a href="assignment9.html"> assignment 9 </a> <br>
                         <a href="{{ url_for('assignment10')}}" target = "_blanc"> assignment 10 </a> <br>
                    
                      <div id="mail"> 
                         <a href="contactM_HTML.html" target=" _blank">
                         <img  id="img1" onmouseover="setNewImg()" onmouseout="setOldImg()"
                         src="../static/gmail-google-logo.png" >  </a>
                      </div>

                <div class="contactme">
                     </div>   
            </div>            
        </div>

        <br><br>
        <div class = "item2" onload= updateDate() >
            <img src="../static/passportPhoto.PNG" width="550" alt="">
            <p id= "imgdate" > </p>

    </div>
    </body>
</html>

     <!--
            function setNewImg(){
                document.getElementById("img1").src="openMail.JPG";
            }

            function setOldImg(){
                document.getElementById("img1").src="gmail-grid-removebg-preview.PNG‬";
            } 
        -->