

body{
    background-color: lightgray;
}

.grid-container{
display: grid;
grid-gap: 10px;
padding: 10px;
grid-template-rows: 150px;
grid-template-areas:
'header header header header header'
'list left center right right '
'list left center right right ';

}
.item1{grid-area: header;
text-align: center;
font-weight: bold;
font-size: 100px;
background-color: cadetblue;
}

.item5{ grid-area: list;
    width: 250px;
    grid-column: 1/ span 1;
    grid-row: 2 / span 25;
    border-radius: 100%;

}
#list{
    text-align: center;
    margin-top: 20%;
    font-size: 20px;


}
 
.item2{grid-area: left;
    width: 250px;
    grid-column: 2/ span 1 ;
    grid-row: 2/ span 25;
    border-radius: 100%;
    text-align: center;
    text-shadow: none;
    font-size: 20px;
}

#downloadCV{
    text-align: center;
    margin-top: 20%;

}

.item3{grid-area: center;
    width: 250px;
    grid-column: 3/ span 1;
    grid-row: 2/ span 25 ;
    border-radius: 100%;
    font-size: 20px;

}
#Linkdin{
    text-align: center;
    margin-top: 20%;

}

.item4{grid-area: right;
    width: 250px;
    grid-column: 4/ span 1;
    grid-row: 2/ span 25 ;
    border-radius: 100%;
    font-size: 20px;

}

#contactME{
    text-align: center;
    margin-top: 20%;

}
