:root{
    --whiteTrans: rgb(255, 255, 255, 0.65) ;
}
body{
    background-image:  url("S-BW36.png");
}
.grid-container{
    display: grid;
    justify-items: center;
    grid-template-areas:
    'right right left left left ';
    /*grid-template-columns: 
    'item1 item1 item2 item2 item2';*/

    grid-gap: 10px;
    margin:20px;
    padding: 25px;

}
.item1{
border-radius: 100%;
grid-area: left;
background-color: var(--whiteTrans);
padding:25px;
height: 400px;
width: 500px;
float: left;
text-align: center;

}

.item1 h1:hover{
    text-shadow: -20px 10px 20px  rgb(53, 126, 196);
    color: rgb(60, 80, 148);

}
#opening{
    margin-top: -5%;
    font-size: 30px;
}
.item1 h2{
    color: black;
}

.item1 h3{
    color: rgb(32, 99, 104);
}

.item2{
background-color:white;

padding:25px;
width: 500px;
height: 400px;
border-radius: 100%;
float: right;
margin-top: -2%;
}
#mydegree{
    font-family: woff;
    font-size: 40px;
    text-align: center;

}


.item2 img{
    top: 120px;
    right: 3%;
    height: 400px;
    width: 480px;
    position: absolute;
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.6);
    cursor: pointer;
    user-select: none;
    filter: grayscale(100%);
    border-radius: 100%;
    border: 5px solid whitesmoke;
    
}

.item2 img:hover{
    filter: grayscale(0%);
    transform: scale(1.05);
    box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.6);
}
.item1 img {

    width:  200px;
     height: 150px;
    animation: nudge 4s linear infinite ;   
}

@font-face{
font-family: woff ;
src: url(Beckhand_Italic.woff);
}

#imgdate{ 
    font-family: woff;
    font-size: 50px;
    text-align: center;
    margin-top: -5%;
    color: honeydew;
}
@keyframes nudge {
    0%, 100% {
        transform: translate(0,0);
    }
    33% {
        transform: translate(70px,0);
    }
    75%{
        transform: translate(-70px,0);
    }

}

#imgdate{
    margin-top: 50%;
}
